@page
@model MyApp.Pages.Activities.DetailsViewModel

<h2>Activity @Model.Activity.Name</h2>

<p><strong>Project:</strong> @Model.ProjectName</p>
<p><strong>Member:</strong> @Model.MemberName</p>

<div class="row">
    <div class="col-md-6">
        <p><strong>Description:</strong></p>
        <p>@Model.Description</p>
    </div>
    <div class="col-md-6">
        <p><strong>Dates:</strong></p>
        <ul>
            @if (Model.StartDate.HasValue) { <li>Start Date: @Model.StartDate.Value.ToShortDateString()</li> }
            @if (Model.TargetDate.HasValue) { <li>Target Date: @Model.TargetDate.Value.ToShortDateString()</li> }
            @if (Model.EndDate.HasValue) { <li>End Date: @Model.EndDate.Value.ToShortDateString()</li> }
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><strong>Status:</strong> @(Model.ProgressStatus == null ? "-" : Model.ProgressStatus)</p>
    </div>
    <div class="col-md-6">
        <p><strong>Priority:</strong> @(Model.Priority == null ? "-" : Model.Priority)</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a asp-page="/Activities/Edit?ActivityId=@Model.Activity.ActivityId" class="btn btn-primary">Edit</a>
        <a asp-page="/Activities/Index" class="btn btn-secondary">Back to List</a>
        @if (Model.CanDelete) {
            <a asp-page="/Activities/Delete?ActivityId=@Model.Activity.ActivityId" confirm="Delete this activity?" class="btn btn-danger">Delete</a>
        }
    </div>
</div>
