@page
@model MyApp.Pages.Activities.IndexModel
@{
    ViewData["Title"] = "Activity List";
}

<h2>All Activities</h2>

<p>
    <a asp-page="/Activities/Create">Create New Activity</a>
</p>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Project</th>
            <th scope="col">Member</th>
            <th scope="col">Status</th>
            <th scope="col">Created</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Activities)
{
<tr>
    <td>@item.ActivityId.ToString("N")</td>
    <td>@item.Name</td>
    <td>@item.ProjectName</td>
    <td>@item.MemberName</td>
    <td>@(item.ProgressStatus == null ? "-" : item.ProgressStatus.ToString())</td>
    <td>@item.CreatedDateTime.ToShortDateString()</td>
    <td>
        <a asp-page="/Activities/Edit?ActivityId=@item.ActivityId">Edit</a> |
        <a asp-page="/Activities/Details?ActivityId=@item.ActivityId">Details</a> |
        <a asp-page="/Activities/Delete?ActivityId=@item.ActivityId" confirm="Are you sure to delete?" class="btn-danger">Delete</a>
    </td>
</tr>
}
</tbody>
</table>

<div>
    @if (Model.TotalCount > 0)
    {
        <nav>
            <a asp-page="/Activities/Index?page=@(Model.Page + 1)" class="btn btn-sm">Next</a>
        </nav>
    }
</div>
