@page
@model ActivityManagement.Pages.IndexModel

<h1>Activity List</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <!-- Add other headers similarly -->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Activities) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <!-- Add other fields similarly -->
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ActivityId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ActivityId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ActivityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
